<main class="main-parent">

    <div class="container">
        <div class="top">
            <ul class="breadcrumb" id="header-menu">
                <li>
                    <a class="itemcrumb" href="#">Trang chủ</a>
                </li>
                <li>
                    <a class="itemcrumb" href="#">Thể loại</a>
                </li>
                <li>
                    <a class="itemcrumb" href="#">Toàn Chức Pháp Sư</a>
                </li>
                <li>
                    <a class="itemcrumb" href="#">Chapter 746</a>
                </li>
            </ul>
            <h1 class="txt-primary">
                <a href="#">Toàn Chức Pháp Sư </a>
                <span> - Chapter 746</span>
                <i>[Cập nhật lúc: 06:01 24/08/2021]</i>
            </h1>
        </div>
        <div class="reading-control">
            <div class="mrb5">
                Nếu không xem được truyện vui lòng đổi "SERVER ẢNH" bên dưới
                <div class="mrt10">
                    <a href="javascript:void(0)" class="btn btn-primary btn-success">Server 1</a>
                </div>
            </div>
            <div class="mrt10" style="margin-top: 10px">
                <a href="javascript:void(0)" class="btn btn-warning" style="color: white;">
                    <i class="fa fa-exclamation-triangle"></i> Báo lỗi
                </a>
            </div>
            <div class="alert alert-info" style="text-align: center;margin-top: 10px;">
                <i class="fa fa-info-circle"></i>
                <em> Sử dụng mũi tên trái (←) hoặc phải (→) để chuyển chapter</em>
            </div>
            <div class="chapter-nav">
                <a class="home" href="#" style="color: #ae4ad9;">
                    <i class="fa fa-home"></i>
                </a>
                <a class="home backward" style="color: #ae4ad9;">
                    <i class="fa fa-list"></i>
                </a>
                <a class="home changeserver" style="color: #ff0000;">
                    <i class="fa fa-undo error"><span style="color: #ae4ad9;">1</span></i>
                </a>
                <a class="a_prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <select class="select-chapter">
                    <option>Chap 746</option>
                    <option>Chap 745</option>
                    <option>Chap 744</option>
                    <option>Chap 743</option>
                    <option>Chap 742</option>
                    <option>Chap 741</option>
                    <option>Chap 740</option>
                    <option>Chap 739</option>
                    <option>Chap 738</option>
                    <option>Chap 737</option>
                </select>
                <a class="a_next">
                    <i class="fa fa-angle-right"></i>
                </a>
                <a class="follow-link btn btn-success" href="javascript:void(0)">
                    <i class="fa fa-heart"></i>
                    <span> Theo dõi</span>
                </a>
            </div>
        </div>

        <div style="text-align: center;">
            <!-- <div *ngFor='let in of counter(pageCount) ;let i = index'>    
            <img id="img{{i}}" src="" alt=""> -->
            <!-- </div> -->
            <div *ngFor="let item of list">
                <img [src]="item" />
            </div>
        </div>
    </div>
</main>