<main class="main-parent">
    <div class="container">
        <div class="top">
            <ul class="breadcrumb" id="header-menu">
                <li>
                    <a class="itemcrumb" href="#">Trang chủ</a>
                </li>
                <li>
                    <a class="itemcrumb" href="#">Thể loại</a>
                </li>
                <li>
                    <a class="itemcrumb" href="#">Toàn Chức Pháp Sư</a>
                </li>
                <li> 
                    <a class="itemcrumb" href="#">Chapter 746</a>
                </li>
            </ul>
            <h1 class="txt-primary">
                <a href="#">Toàn Chức Pháp Sư </a>
                <span> - Chapter 746</span>
                <i>[Cập nhật lúc: 06:01 24/08/2021]</i>
            </h1>
        </div>
        <div class="reading-control"  *ngFor='let in of counter(100) ;let i = index'>
            <img src="https://localhost:5001/00001/{{i}}.jpg" alt="">
        </div>
    </div>
</main>