a {
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
    cursor: pointer;
}
.mrt10 {
    text-align: center;
    margin-top: 5px;
    .btn {
        font-weight: 400;
        font-size: 14px;
    }
    a:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}
.main-parent {
    width: 100%;
    background-color: black;
    padding: 0;
    .container {
        height: 100%;
        .top {
            margin: 0;
            border: 1px solid white;
            background-color: white;
            .breadcrumb {
                border-radius: 0%;
                padding: 0;
                /*top right bottom left*/
                margin: 5px 10px 5px 10px;
                background-color: white;
            }
            .txt-primary {
                font-weight: 500;
                font-size: 20px;
                margin: 0 0 7px 10px;
                i {
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0 0 0 7px;
                }
            }
        }
        .reading-control {
            background-color: #f6f7f8;
            padding: 10px;
            .mrb5 {
                text-align: center;
                /*top right bottom left*/
                padding-top: 10px;
            }
            .chapter-nav {
                text-align: center;
                /*top right bottom left*/
                padding: 5px;
                .home {
                    width: 40px;
                    font-size: 24px;
                    /*top right bottom left*/
                    margin: 0px 10px 0 10px;
                    text-align: center;
                    vertical-align: middle;
                }
                .changeserver {
                    position: relative;
                    span {
                        font-size: 12px;
                        position: absolute;
                        left: 8px;
                        top: 10px;
                        font-weight: 700;
                    }
                }
                .a_prev {
                    i {
                        /*top right bottom left*/
                        padding: 4px 10px 2px 10px;
                        margin-right: 5px;
                        background-color: #79cb42;
                        font-size: 25px;
                        font-weight: 900;
                        color: white;
                        border-radius: 2px;
                        vertical-align: middle;
                    }
                }
                .select-chapter {
                    border-radius: 4px;
                    color: #555;
                    display: inline-block;
                    padding: 4px 6px;
                    border: 1px solid #ccc;
                    width: 25%;
                }
                .a_next {
                    i {
                        /*top right bottom left*/
                        padding: 4px 10px 2px 10px;
                        margin-left: 5px;
                        background-color: #79cb42;
                        font-size: 25px;
                        font-weight: 900;
                        color: white;
                        border-radius: 2px;
                        vertical-align: middle;
                    }
                }
                .follow-link {
                    margin-left: 10px;
                }
                .follow-link:hover {
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}
