<main class="main-parent">
    <div class="container">
        <div class="top">
            <ul class="breadcrumb" id="header-menu">
                <li>
                    <a class="itemcrumb">Trang chủ</a>
                </li>
                <li>
                    <a class="itemcrumb">Thể loại</a>
                </li>
                <li>
                    <a class="itemcrumb">Toàn Chức Pháp Sư</a>
                </li>
                <li> 
                    <a class="itemcrumb">Chapter 746</a>
                </li>
            </ul>
        </div>
        <div class="reading-control">

        </div>
    </div>
</main>