<main>
    <img src="" alt="">
    <div class="container">
        <div id="ctl00_divAlt1" class="altcontent1 cmszone">
            <div class="top-comics">
                <h2 class="page-title">Truyện đề cử <i class="fa fas fa-angle-right"></i></h2>
                <div class="items-slide">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper">
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img2.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img2.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Toàn Chức Pháp Sư</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img3.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Ngạo Thị Thiên Địa</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Mairimashita! Iruma-kun</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img1.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img1.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img1.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img3.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Ngạo Thị Thiên Địa</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Mairimashita! Iruma-kun</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa fas fa-angle-left left fa-3x" (click)="TopComicsScrollLeft()"></i>
                    <i class="fa fas fa-angle-right right fa-3x" (click)="TopComicsScrollRight()"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="divCenter">
                <div class="divCenter-main-container">
                    <div class="header-divCenter-main-container">
                        <h2>Truyện mới cập nhật <i class="fa fas fa-angle-right"></i></h2>
                    </div>
                    <div class="body-divCenter-main-container">
                        <div class="item" *ngFor="let img of listimgURL | slice:0:36;let i = index">
                            <figure>
                                <div class="image">
                                    <a [routerLink]="['truyen-tranh',listnameM[i]+'-'+listidM[i]]">
                                        <img [src]="img">
                                    </a>
                                    <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                    </div>
                                </div>
                                <figcaption>
                                    <h3>{{listName[i]}}</h3>
                                    <ul>
                                        <li>
                                            <a href="#" style="color: black">Chapter 3</a>
                                            <i>1 giờ trước</i>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black">Chapter 2</a>
                                            <i>1 giờ trước</i>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black">Chapter 1</a>
                                            <i>1 giờ trước</i>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="divPager">
                        <ul class="pagination">
                            <li [class.active]="checkActive(index)" [class.moveoverandout]="checkMoveOverAndOut(index)"
                                *ngFor="let index of listPage;let i = index" #li (click)="changeCurrentPage(index)">
                                <a>{{index}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divRight">

            </div>
        </div>
    </div>
</main>