<main>
    <div class="container">
        <div id="ctl00_divAlt1" class="altcontent1 cmszone">
            <div class="top-comics">
                <h2 class="page-title">Truyện đề cử <i class="fa fas fa-angle-right"></i></h2>
                <div class="items-slide">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper">
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img2.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img2.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Toàn Chức Pháp Sư</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img3.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Ngạo Thị Thiên Địa</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Mairimashita! Iruma-kun</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img1.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img1.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img1.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img3.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Ngạo Thị Thiên Địa</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                            <div class="owl-item">
                                <a href="#">
                                    <img src="assets/images/img.png" alt="nhu cc">
                                </a>
                                <div class="slide-caption">
                                    <h3>
                                        <a href="#">Mairimashita! Iruma-kun</a>
                                    </h3>
                                    <a href="#">Chap 153</a>
                                    <span class="time">
                                        <i class="fa fas fa-history"></i> 27/10/20
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa fas fa-angle-left left fa-3x" (click)="TopComicsScrollLeft()"></i>
                    <i class="fa fas fa-angle-right right fa-3x" (click)="TopComicsScrollRight()"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="divCenter">
                <div class="divCenter-main-container">
                    <div class="header-divCenter-main-container">
                        <h2>Truyện mới cập nhật <i class="fa fas fa-angle-right"></i></h2>
                    </div>
                    <div class="body-divCenter-main-container">
                        <div class="item" *ngFor="let img of listimgURL | slice:0:40;let i = index">
                            <figure>
                                <div class="image">
                                    <a [routerLink]="['truyen-tranh',listNameMandIdM[i]]">
                                        <!-- <img class="lazy" data-src="{{img}}" src="" /> -->
                                        <!-- <img [src]="img"> -->
                                        <img id="image" [defaultImage]="defaultImage" [lazyLoad]="img" />
                                    </a>
                                    <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                    </div>
                                </div>
                                <figcaption>
                                    <h3>{{listName[i]}}</h3>
                                    <ul>
                                        <li>
                                            <a href="#" style="color: black">Chương {{listChap[i]}}</a>
                                            <i>1 giờ trước</i>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black">Chương {{listChap[i] - 1}}</a>
                                            <i>1 giờ trước</i>
                                        </li>
                                        <li>
                                            <a href="#" style="color: black">Chương {{listChap[i] - 2}}</a>
                                            <i>1 giờ trước</i>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="divPager">
                        <ul class="pagination">
                            <li #liminimun (click)="goToMinimunPage()">«</li>
                            <li [class.active]="checkActive(index)" [class.moveoverandout]="checkMoveOverAndOut(index)"
                                *ngFor="let index of listPage;let i = index" #li (click)="changeCurrentPage(index)">
                                <a>{{index}}</a>
                            </li>
                            <li #limaximun (click)="goToMaxPage()">»</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divRight">
                <div class="visited-comics">
                    <div class="box darkBox">
                        <h2>Lịch sử đọc truyện <a class="view-all">Xem tất cả</a></h2>
                        <ul class="list-unstyled">
                            <li class="clearfix" *ngFor="let ele of listVisitedComics;let i = index">
                                <div class="t-item">
                                    <a class="thumb" [routerLink]="['truyen-tranh',ele.chapterUrl]">
                                        <img [src]="ele.image">
                                    </a>
                                    <h3 class="title" [routerLink]="['truyen-tranh',ele.chapterUrl]">
                                        <a>{{ele.name}}</a>
                                    </h3>
                                    <p class="chapter">
                                        <a [routerLink]="['truyen-tranh',ele.chapterUrl]">Đọc tiếp {{ele.chapterName}} </a>
                                        <span class="view pull-right">
                                            <a class="visited-remove" href="#">
                                                <i class="fa fa-times"> Xóa</i>
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>