<main (click)="hiddenSuggestSearch()">
    <div class="container">
        <div id="ctl00_divAlt1" class="altcontent1 cmszone">
            <app-topcomics [listTopComics]='listTopComics'></app-topcomics>
        </div>
        <div class="row">
            <div class="divCenter">
                <div class="divCenter-main-container">
                    <div class="header-divCenter-main-container">
                        <h2>Truyện mới cập nhật <i class="fa fas fa-angle-right"></i></h2>
                    </div>
                    <div class="body-divCenter-main-container">
                        <div class="item" *ngFor="let newUpdateComic of listNewUpdateComics;let i = index">
                            <figure>
                                <div class="image">
                                    <a [routerLink]="['truyen-tranh',listNameMandIdM[i]]">
                                        <img id="image" [defaultImage]="defaultImage" [lazyLoad]="newUpdateComic.img" />
                                    </a>
                                    <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> {{newUpdateComic.view}}
                                            <i class="fa fas fa-comment"></i> {{newUpdateComic.comment}}
                                            <i class="fa fas fa-heart"></i> {{newUpdateComic.heart}}
                                        </span>
                                    </div>
                                </div>
                                <figcaption>
                                    <h3>{{newUpdateComic.title}}</h3>
                                    <ul>
                                        <li *ngFor="let chap of newUpdateComic.listChap;let i2 = index">
                                            <a href="#" style="color: black">{{chap}}</a>
                                            <i>{{newUpdateComic.listTimeUpdate[i2]}}</i>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <app-pagination [currentPage]='currentPage' [typePage]="'mainPage'"></app-pagination>
                </div>
            </div>
            <div class="divRight">
                <div class="visited-comics">
                    <div class="box darkBox">
                        <h2>Lịch sử đọc truyện <a class="view-all">Xem tất cả</a></h2>
                        <ul class="list-unstyled">
                            <li class="clearfix" *ngFor="let ele of listVisitedComics | slice:0:3;let i = index">
                                <div class="t-item">
                                    <a class="thumb" [routerLink]="['truyen-tranh',ele.chapterUrl]">
                                        <img [src]="ele.image">
                                    </a>
                                    <h3 class="title" [routerLink]="['truyen-tranh',ele.chapterUrl]">
                                        <a>{{ele.name}}</a>
                                    </h3>
                                    <p class="chapter">
                                        <a [routerLink]="['truyen-tranh',ele.chapterUrl]">Đọc tiếp {{ele.chapterName}}
                                        </a>
                                        <span class="view pull-right">
                                            <a class="visited-remove" href="#">
                                                <i class="fa fa-times"> Xóa</i>
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>